

*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(33, 33, 49);
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff; /* Change to your desired background color */
    /* Additional styling such as padding, border, etc. */
    z-index: 100; /* Ensure a high z-index to keep it above other content */
}
nav{
    top: 0%;
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: rgb(3, 3, 25);

}
nav .left ul{
    display: flex;
    position: relative;
    text-align: justify;
    top: 50%;
    left: 50%;
    transform: translate(-50%,  -50%);
    margin: 0 23px;
    padding: 0px  0px;
    
}

nav .left ul li{
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    text-shadow: none;
    animation: animate 1s infinite linear;
}

@keyframes animate{
    0%{
        color: #484848;
        text-shadow: none;
    }
    18%{
        color: #484848;
        text-shadow: none;
    }
    20%{
        color: fff900;
        text-shadow: 0 0 7px #fff900, 0 0 20px #ff6c00;
    }
    30%{
        color: #484848;
        text-shadow: none;
    }
    35%{
        color: #fff900;
        text-shadow: 0 0 7px #fff900, 0 0 20px #ff6c00;
    }
    70%{
        color: #484848;
        text-shadow: none;
    }
    85%{
        color: #fff900;
        text-shadow: 0 0 7px #fff900, 0 0 20px #ff6c00;
    }
    90%{
        color: #484848;
        text-shadow: none;
    }
    100%{
        color: #484848;
        text-shadow: none;
    }
}
nav .left ul li :nth-child(1){
            animation-delay: .2s;
}
nav .left ul li:nth-child(2){
    animation-delay: .4s;
}
nav .left ul li :nth-child(3){
    animation-delay: .6s;
}
nav .left ul li :nth-child(4){
    animation-delay: .8s;
}
nav .left ul li :nth-child(5){
    animation-delay: .1s;
}
nav .left ul li :nth-child(6){
    animation-delay: 1.2s;
}
nav .left ul li :nth-child(7){
    animation-delay: 1.4s;
}



nav ul{
    display: flex;
    justify-content: center;
}
nav ul li {
    list-style: none;
    margin: 0 23px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a:hover {
   color: rgb(29, 206, 206);

   font-size: 1.02rem;
}

.left{
    font-size: 1.5rem;
}
nav ul li .right .about-page{
    @keyframes wipe-cinematic-out {
        0% {
          clip-path: inset(0 0 0 0);
        }
        30%, 70% {
          clip-path: inset(10% 0 10% 0);
        }
        100% {
          clip-path: inset(100% 0 100% 0);
        }
      }
      
      [transition-style="out:wipe:cinematic"] {
        animation-name: wipe-cinematic-out;
      }
}
.firstsection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 110px 0;
}

.firstsection > div{
    width: 30%;
    
}

.leftsection{
    font-size: 2rem;
}

.rightsection img{
    width: 80%;
    margin: 50px;
    filter: grayscale(200%);
    transition: filter 300%;
}

.purple{
    border-radius: 6px ;
    color: rgb(141, 44, 232);
   
}

.rightsection img:is(:hover, :focus){
    filter: grayscale(0%);
}

#element{
    color: blueviolet;
}

.secondSection a{
    text-decoration: none;
    color: aqua;
}

.secondSection a:hover{
    color: rgb(191, 47, 83);
}

.secondSection { 
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}

main hr{
    border: 0;
    height: .07em;
    background: blueviolet;
    margin: 40px 84px;
}


.secondSection h1{
    column-span: all;
    display: block;
    color: rgb(207, 204, 209);
}

.secondSection .text-gray{
    columns: 200px 2;
    column-gap: 30px;
    padding: 25px;
}



.thirdSection { 
    
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}
.thirdSection h1{
    color: rgb(207, 204, 209);
}


.thirdSection .box{
    background-color: white;
    width: 80vw;
    height: 2px;
    margin: 70px 0;
    display: flex;

}

.thirdSection .vertical{
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 100px;
}

.image-top{
    width: 23px;
    position: relative;
    top: -32px;
    left: -9px;
}

.title{
    position: relative;
    top: 75px;
    width: 150px;
}

.desc{
    position: relative;
    top: 85px;
    width: 150px;
    font-size: 9px;
}


